@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: #f8f9fc;
}

.heightExcludingNav {
  height: calc(100% - 96px);
}

body {
  @apply bg-[#f8f9fc] text-neutral-800;
}

/* Dark mode */
.dark body {
  @apply bg-neutral-800 text-white;
}
